.card {
    border: 1px solid #E0E8E0;
    border-radius: 8px;
    background: #F8FCF9;
    padding: 20px;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #E8F5E9;
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.profilePic {
    border-radius: 50%;
}

.name {
    font-size: 16;
    font-weight: 700;
    color: #0E2515;   
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 15;
    color: #8C8C8C;
}
.descTitle {
    display: flex;
    gap: 2px;
}
.rating {
    display: flex;
    color: #8C8C8C;
    gap: 2px;
}
.rating span {
    margin-right: 5px;
}
.bookBtn {
    margin-top: 14px;
    background-color:cadetblue;
    color: white;
    padding: 16px;
    font-weight: 700;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(4, 100, 44, 0.1);
    cursor: pointer;
}

.bookBtn:hover {
    background-color: #0E2515;
    color: white;
}